*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    padding: 0 3vw;
}
#left{
    height: 100%;
    width: 40%;
    /* background-color: aqua; */
}

#leftTop{
    /* background-color: red; */
    margin-top: 15vh;
    margin-bottom: 25vh;
}
#leftTop h1{
    font-size: 12vh;
    font-weight: 100;
    line-height: 1;
}
#leftBottom{

}
#colorOptions{
    /* background-color: pink; */
    margin: 5vh 0;
    height: 5vh;
    border: 2px solid black;
    border-radius: 25px;
    width: 9vw;
    display: flex;
    padding: 1.5vh;
    justify-content: space-between;
    align-items: center;
}
#colors{
    display: flex;
}
#color1{
    height: 3vh;
    width: 3vh;
    background-color: rgb(225, 225, 35);
    margin-left: 1vw;
    margin-right: 0.5vw;
    border-radius: 50%;
}
#color2{
    height: 3vh;
    width: 3vh;
    background-color: #212121;
    border-radius: 50%;
}
#details{
    /* background-color: red; */
    height: 25vh;
}
#details h4{
    font-size: 3vh;
    margin-bottom: 1vh;
}
#details p{
    font-weight: 500;
    line-height: 1.4;
}
/* ---------------------------------------------------------------------------------------------------- */

#right{
    height: 100%;
    width: 40%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#pricing{
    /* background-color: red; */
    height: 5vh;
    width: 45%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#pricing p{
    font-weight: 500;
}
#pricing p i{
    color: rgb(242, 242, 26);
}
#imageDiv{
    height: 60%;
    width: 45%;
    /* background: url(https://images.unsplash.com/photo-1548624313-0396c75e4b1a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    background: url(https://images.unsplash.com/photo-1524073931203-a8e03f73e68a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}
#circle{
    position: absolute;
    left: 77%;
    top: 25%;
    height: 8vw;
    width: 8vw;
    background-color: black;
    border-radius: 50%;
    border: 1px solid grey;
    color: white;
}
#circle p{
    position: absolute;
    top: 44%;
    left: 24%;
}
#circle:hover{
    background-color: #212121;
    cursor: pointer;
}