*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding-top: 0.1px;
    /* we did the above because of a bug in css, because if we directly give margin top in nav...
    then the whole parent (main) shifts down, this can be resolved by separating the two elements by a minute gap or space */
}
#nav{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav h1{
    /* background-color: blue; */
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3vw;
    font-family: monument;
    font-weight: 900;
    font-size: 5vh;
    letter-spacing: -2.5px;
}
#nav h2{
    /* background-color: aqua; */
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    padding: 0 3vw;
    font-weight: 400;
    font-size: 2.5vh;
}
#nav h2:nth-child(5){
    /* background-color: yellow; */
    width: 5%;
    border-right: none;
}
#center{
    height: 90%;
    width: 100%;
    /* background-color: red; */
    padding: 4vw;
    position: relative;
}
#content{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    position: absolute;
    height: 40%;
    width: 90%;
    bottom: 0;
    /* background-color: red; */
    padding: 2vh 3vw;
}
#overlay1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: beige; */
    padding-right: 1vw;
    padding-bottom: 3vh;
    height: 15vh;
}
#overlay1 h1{
    font-size: 4vw;
    font-family: monument;
    line-height: 1;
    color: transparent;
    /* mix-blend-mode: difference; */
    -webkit-text-stroke: 2px black; /* For WebKit-based browsers (Chrome, Safari) */
}
#overlay1 h1:hover{
    font-size: 4vw;
    font-family: monument;
    line-height: 1;
    color: black;
    /* mix-blend-mode: difference; */
    -webkit-text-stroke: 2px white; /* For WebKit-based browsers (Chrome, Safari) */
}
#overlay1 h2{
    /* background-color: aqua; */
    padding: 2vw;
    border-radius: 50%;
    border: 2px solid black;
    font-weight: 100;
}
#overlay1 h2:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}
hr{
    border-color: black;
}
#overlay2{
    padding-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
    height: 6vh;
}
#overlay2 h2{
    font-size: 4vh;
    font-weight: 300;
}
#overlay2 h2 i{
    font-weight: 100;
    font-size: 2.5vw;
    padding-right: 2vw;
}
#overlay2 h2 i:hover{
    font-weight: 100;
    font-size: 3vw;
    padding-right: 3vw;
    color: black;
    cursor: pointer;
    padding-right: 2vw;
}
#profileCarousel{
    padding: 10px;
    height: 300px;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    /* we have done the above 3 steps to give scroll bar */
}
#scrollContainer{
    height: 100%;
    width: auto;
    /* background-color: aqua; */
    display: inline-block;
    /* we have done the above so that both the container divs can come in the same line */
}
#scrollContainer img{
    /* display: none; */
    padding: 20px;
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
    object-position: top;
}
